{% extends "base.html" %}
{% load static %}

<title>{% block title %}Contact Us{% endblock %}</title>

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block header %}
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6DLG8LYRJ7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6DLG8LYRJ7');
        </script>
    </head>
{% endblock %}

{% block content %}
    <main>
        <div class="contact-container">
            <div class="contact-title">
                <h1>Contact us!</h1>
            </div>
            <div>
                <form method="post" action="{% url 'contact' %}" class="contact-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="contact-button" type="submit"><strong>Submit</strong></button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block script %}
{% endblock %}
